:host >>> .mat-chip-list-wrapper {
    width: 100%;
    display: block;
    overflow-x: scroll;
}
mat-icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px !important;
    text-align: center;
    color: gray;
}
mat-basic-chip {
    display: inline-block;
    vertical-align: baseline;
    line-height: 15px;

}
input {
    display: inline-block !important;
    vertical-align: baseline !important;
}
mat-icon:hover {
    border-radius: 50%;
    background-color: darkgray;
    color: white;
}
:host >>> .mat-chip-list-wrapper::-webkit-scrollbar {
    display: none;
}