:host >>> .mat-chip-list-wrapper {
    /* width: 100%;
    display: block; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    overflow-x: scroll;
}
span.remove-icon {
    display: inline-block;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 12px !important;
    text-align: center;
    vertical-align: top;
    color: gray;
}
span.remove-icon:hover {
    border-radius: 50%;
    background-color: darkgray;
    color: white;
}
mat-basic-chip {
    display: inline-block;
    vertical-align: baseline;
    line-height: 15px;
    margin-right: 8px;
}
input {
    display: inline-block !important;
    vertical-align: baseline !important;
}
/* 修复material本身的bug，使其能够与其他mat表单组件对齐 */
input.mat-chip-input {
    margin: 0;
}
:host >>> .mat-chip-list-wrapper::-webkit-scrollbar {
    display: none;
}
mat-basic-chip {
    outline: none;
}
